Repository AdairBento/mag-system-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm exec eslint --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "apps/**/*.{ts,tsx}": ["pnpm exec eslint --fix"],
  "packages/**/*.{ts,tsx}": ["pnpm exec eslint --fix"]
}

fix(eslint): ignore generated outputs (.next, dist, coverage, .turbo)
  eslint.config.mjs
Due: none

fix(lint): replace require() with import and any with unknown
  apps/web/tailwind.config.ts
  packages/shared-types/src/common.types.ts
Due: pnpm exec eslint --fix

chore(api): add .env.test.example template
  apps/api/.env.test.example
Due: none

fix(eslint): separate root ESLint 9 from Next lint (web) and stabilize workspace
  apps/api/package.json
  apps/web/.eslintrc.json
  apps/web/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(eslint): remove unused eslint-config from apps/web
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint): remove unused eslint-config package to eliminate peer warnings
  cleanup-eslint-config.ps1
  packages/eslint-config/base.js
  packages/eslint-config/nest.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
Due: prettier --write

chore(scripts): remove one-off cleanup script
  cleanup-eslint-config.ps1
Due: none

chore(repo): tidy scripts and turbo outputs
  turbo.json
Due: prettier --write

chore(repo): doctor (auto fixes + verify)
  package.json
  scripts/doctor.ps1
  scripts/repo-tidy.ps1
Due: prettier --write

feat(core): add CnhValidator with full coverage
  pnpm-workspace.yaml
Due: none

feat(core): add CnhValidator implementation
  packages/core/src/validators/cnh.validator.ts
Due: pnpm exec eslint --fix

test(core): add comprehensive CnhValidator tests
  packages/core/src/validators/__tests__/cnh.validator.spec.ts
Due: pnpm exec eslint --fix

feat(core): export CnhValidator from validators index
  packages/core/src/validators/index.ts
Due: pnpm exec eslint --fix

chore(infra): finalize ESLint 9 setup (enterprise-grade)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(turbo): remove test outputs to fix cache warning
  turbo.json
Due: prettier --write

fix(lint): remove deprecated ESLint 9 flags from core
  packages/core/package.json
Due: prettier --write

chore(release): 2.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eee7af1c6e0c717218bb24d113ddaa88d299c27f
Due: none

chore(git): ignore local package.json backup files
  .gitignore
Due: none

chore(husky): run pnpm -w verify on pre-push
  .husky/pre-push
Due: none

feat(core): add CnhValidator with full coverage (#28)
  packages/core/src/validators/__tests__/cnh.validator.spec.ts
  packages/core/src/validators/cnh.validator.ts
  packages/core/src/validators/index.ts
  pnpm-workspace.yaml
Due: pnpm exec eslint --fix

fix(turbo): remove test outputs to fix cache warning (#29)
  turbo.json
Due: prettier --write

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  67b79e976ede2d05306118f9a8abdd712ce9c351
Due: none

fix(core): upgrade to ESLint 9 and @typescript-eslint v8
  packages/core/package.json
Due: prettier --write

fix(api): upgrade to ESLint 9 and @typescript-eslint v8
  apps/api/package.json
Due: prettier --write

fix: upgrade packages to ESLint 9 and @typescript-eslint v8 (#30)
  apps/api/package.json
  packages/core/package.json
Due: prettier --write

fix(web): upgrade to ESLint 9 and @typescript-eslint v8
  apps/web/package.json
Due: prettier --write

fix(web): remove old ESLint 8 config file
  apps/web/.eslintrc.json
Due: prettier --write

fix(web): add ESLint 9 flat config for Next.js
  apps/web/eslint.config.mjs
Due: none

fix(web): add @eslint/eslintrc for flat config compatibility
  apps/web/package.json
Due: prettier --write

fix(eslint-config): remove duplicate @typescript-eslint from next preset
  packages/eslint-config/next.js
Due: none

fix(eslint-config): remove plugin:@typescript-eslint/recommended from next preset
  packages/eslint-config/next.js
Due: none

fix(eslint-config): remove duplicate @typescript-eslint declarations (#32)
  packages/eslint-config/next.js
Due: none

feat(core): add CpfValidator with full coverage
  packages/core/src/validators/__tests__/cpf.validator.spec.ts
  packages/core/src/validators/cpf.validator.ts
  packages/core/src/validators/index.ts
Due: pnpm exec eslint --fix

fix(core): add explicit return type to calcDigit function
  packages/core/src/validators/cpf.validator.ts
Due: pnpm exec eslint --fix

feat(core): add CpfValidator with full coverage (#33)
  packages/core/src/validators/__tests__/cpf.validator.spec.ts
  packages/core/src/validators/cpf.validator.ts
  packages/core/src/validators/index.ts
Due: pnpm exec eslint --fix

chore: update pnpm-lock.yaml after ESLint 9 upgrade
  pnpm-lock.yaml
Due: none

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36eaefa6293b476de479818d0ed6e15fdbd29c93
Due: none
