Repository AdairBento/mag-system-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm exec eslint --fix

chore: update Prisma to v7.3.0
  pnpm-lock.yaml
Due: none

chore: update Prisma to v7.3.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "chore: update Prisma to v7.3.0"
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "chore: update Prisma to v7.3.0"
  pnpm-lock.yaml
Due: none

chore(prisma): pin Prisma 6.x (stable) across monorepo
  package.json
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add comprehensive technical audit report (47.5% completion)
  docs/AUDIT_REPORT.md
Due: prettier --write

feat(database): adiciona relacionamento Driver -> Client e campos compatíveis com MAG-system-webapp
  packages/database/prisma/schema.prisma
Due: none

feat: adicionar tipos de Cliente
  apps/web/src/types/client.ts
Due: pnpm exec eslint --fix

feat: adicionar tipos de Motorista
  apps/web/src/types/driver.ts
Due: pnpm exec eslint --fix

feat: adicionar funções de máscara para CPF, CNPJ e telefone
  apps/web/src/lib/utils/masks.ts
Due: pnpm exec eslint --fix

feat: adicionar helper para tratamento de erros da API
  apps/web/src/lib/api/error-helper.ts
Due: pnpm exec eslint --fix

feat: adicionar cliente HTTP para comunicação com API
  apps/web/src/lib/api/http.ts
Due: pnpm exec eslint --fix

feat: adicionar modal de formulário de cliente
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
Due: pnpm exec eslint --fix

feat: adicionar modal de motorista com sistema de migração entre clientes
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx
Due: pnpm exec eslint --fix

feat: criar página de clientes e motoristas com sistema de tabs completo
  apps/web/src/app/(app)/clientes/page.tsx
Due: pnpm exec eslint --fix

feat: adicionar DTOs de cliente
  apps/api/src/modules/clients/dto/create-client.dto.ts
Due: pnpm exec eslint --fix

feat: adicionar UpdateClientDto
  apps/api/src/modules/clients/dto/update-client.dto.ts
Due: pnpm exec eslint --fix

feat: adicionar DTOs de motorista
  apps/api/src/modules/drivers/dto/create-driver.dto.ts
Due: pnpm exec eslint --fix

feat: adicionar lógica de migração de motoristas entre clientes
  apps/api/src/modules/drivers/drivers.service.ts
Due: pnpm exec eslint --fix

feat: adicionar endpoint POST /drivers/:id/migrate para migração de motoristas
  apps/api/src/modules/drivers/drivers.controller.ts
Due: pnpm exec eslint --fix

feat: adicionar filtros search e clientId no FilterDriverDto
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
Due: pnpm exec eslint --fix

feat: adicionar UpdateDriverDto
  apps/api/src/modules/drivers/dto/update-driver.dto.ts
Due: pnpm exec eslint --fix

docs: adicionar checklist completo do sistema de migração
  MIGRATION_SYSTEM_CHECKLIST.md
Due: prettier --write

fix: corrigir tipo do clientId no create do driver
  apps/api/src/modules/drivers/drivers.service.ts
Due: pnpm exec eslint --fix

fix: tornar email obrigatório no CreateDriverDto
  apps/api/src/modules/drivers/dto/create-driver.dto.ts
Due: pnpm exec eslint --fix

docs: auditoria estrutural completa do sistema (10/02/2026)
  docs/AUDITORIA_ESTRUTURAL_10FEV2026.md
Due: prettier --write

chore(ci): sync pnpm-lock with overrides
  pnpm-lock.yaml
Due: none

feat(infra): auditoria enterprise + dev-doctor.ps1 + correções de boot
  docs/AUDITORIA_ENTERPRISE_10FEV2026.md
  scripts/dev-doctor.ps1
Due: prettier --write

feat(api): adicionar graceful shutdown + detecção de porta ocupada
  apps/api/src/main.ts
Due: pnpm exec eslint --fix

docs: auditoria estrutural completa e detalhada
  docs/AUDITORIA_COMPLETA_10FEV2026.md
Due: prettier --write

fix(clients): implementar filtros completos no findAll()
  apps/api/src/modules/clients/clients.service.ts
Due: pnpm exec eslint --fix

fix(types): tornar email obrigatório em Driver
  apps/web/src/types/driver.ts
Due: pnpm exec eslint --fix

fix(clients): padronizar verbo HTTP para PATCH no update
  apps/api/src/modules/clients/clients.controller.ts
Due: pnpm exec eslint --fix

chore: remover commitlint.config.js duplicado (usar .cjs)
  commitlint.config.js
Due: none

fix(web): normalizar status de motorista e corrigir tipos
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx
Due: pnpm exec eslint --fix

fix(web): filtrar clientes com id válido antes de passar ao modal
  apps/web/src/app/(app)/clientes/page.tsx
Due: pnpm exec eslint --fix

fix(lint): remover try/catch desnecessário
  apps/web/src/app/(app)/clientes/page.tsx
Due: pnpm exec eslint --fix

fix(types): corrigir retorno do onSubmit para Promise<void>
  apps/web/src/app/(app)/clientes/page.tsx
Due: pnpm exec eslint --fix

fix(types): descartar retorno do mutateAsync explicitamente
  apps/web/src/app/(app)/clientes/page.tsx
Due: pnpm exec eslint --fix

test(api): update drivers test expectations (include/orderBy/where)
  apps/api/src/modules/drivers/drivers.service.spec.ts
Due: pnpm exec eslint --fix

Path conditions:
  prettier --write: any of: *.{json,md}
  pnpm exec eslint --fix: (any of: apps/**/*.{ts,tsx}) or (any of: packages/**/*.{ts,tsx})
