Repository AdairBento/mag-system-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm exec eslint --fix

test(api): update clients test expectations (orderBy/where)
  apps/api/src/modules/clients/clients.service.spec.ts
Due: pnpm exec eslint --fix

ci: fix semantic-release permissions with PAT
  .github/workflows/release.yml
Due: none

feat(web): add QueryClientProvider for React Query
  apps/web/src/components/providers/query-provider.tsx
Due: pnpm exec eslint --fix

feat(web): wrap app with QueryProvider
  apps/web/src/app/layout.tsx
Due: pnpm exec eslint --fix

ci: disable semantic-release git commits to avoid race conditions
  .releaserc.json
Due: prettier --write

chore: clean up workflows and finalize semantic-release setup
  README.md
Due: prettier --write

feat(database): add Session and AuditLog models for enterprise auth
  packages/database/prisma/schema.prisma
Due: none

Notes added by 'git notes add'
  77f0a14ceffbcc1d1cf1db32d90c5756e73d096b
Due: none

feat(auth): implement RefreshToken, Audit and ProgressiveLock services
  apps/api/src/modules/auth/services/audit.service.ts
  apps/api/src/modules/auth/services/progressive-lock.service.ts
  apps/api/src/modules/auth/services/refresh-token.service.ts
Due: pnpm exec eslint --fix

feat(auth): integrate RefreshToken, Audit and ProgressiveLock services
  apps/api/src/modules/auth/auth.service.ts
Due: pnpm exec eslint --fix

feat(auth): add /refresh and /logout endpoints with IP tracking
  apps/api/src/modules/auth/auth.controller.ts
Due: pnpm exec eslint --fix

feat(auth): register new services in AuthModule providers
  apps/api/src/modules/auth/auth.module.ts
Due: pnpm exec eslint --fix

fix(auth): correct imports and add missing types
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/auth/services/audit.service.ts
  apps/api/src/modules/auth/services/progressive-lock.service.ts
  apps/api/src/modules/auth/services/refresh-token.service.ts
Due: pnpm exec eslint --fix

fix(audit): add explicit return type to findLogs method
  apps/api/src/modules/auth/services/audit.service.ts
Due: pnpm exec eslint --fix

fix(tests): update AuthService tests with new dependencies
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(tests): add missing getRemainingLockTime mock
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(tests): add ConfigService mock for AuthService tests
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

Notes added by 'git notes add'
  a2121870efacc6465b1c94724523c34a7d4eac54
Due: none

fix(tests): reorder providers to fix dependency injection
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(tests): simplify AuthService tests with minimal mocks
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

Notes added by 'git notes add'
  d09e23e40c8fc198786a22316c3325d25437d111
Due: none

test(auth): implement professional test suite with proper mocking
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(tests): define mocks outside beforeEach for proper DI resolution
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

feat(auth): implement enterprise-grade authentication system
  apps/api/src/modules/auth/dto/index.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/auth/dto/refresh.dto.ts
  apps/api/src/modules/auth/dto/register.dto.ts
  apps/api/src/modules/auth/services/audit.service.ts
  apps/api/src/modules/auth/services/index.ts
  apps/api/src/modules/auth/services/progressive-lock.service.ts
  apps/api/src/modules/auth/services/refresh-token.service.ts
Due: pnpm exec eslint --fix

feat(auth): complete AuthService, Controller and Module
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
Due: pnpm exec eslint --fix

fix(api): align auth service spec with current simple AuthService
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(auth): complete test spec with all enterprise mocks
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

Notes added by 'git notes add'
  fdb48e6384005603549f4acf7b02c7d37b072f75
Due: none

fix(auth): resolve test spec with all enterprise mocks
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

test: remove old auth.service.spec.ts for recreation
  apps/api/src/modules/auth/auth.service.spec.ts
Due: pnpm exec eslint --fix

test(auth): create comprehensive test suite with all mocks
  apps/api/src/modules/auth/__tests__/auth.service.spec.ts
Due: pnpm exec eslint --fix

fix(auth): add default OPERATOR role in register method
  apps/api/src/modules/auth/auth.service.ts
Due: pnpm exec eslint --fix

test(auth): align test assertions with actual service method signatures
  apps/api/src/modules/auth/__tests__/auth.service.spec.ts
Due: pnpm exec eslint --fix

chore(test): remove backup test file
  apps/api/src/modules/auth/auth.service.spec.ts.bak.20260211-012739
Due: none

chore(test): remove second backup test file
  apps/api/src/modules/auth/auth.service.spec.ts.bak.20260211-014531
Due: none

test(auth): fix RegisterDto type issue in default role test
  apps/api/src/modules/auth/__tests__/auth.service.spec.ts
Due: pnpm exec eslint --fix

Notes added by 'git notes add'
  63bba95fdf158571985120901b8c182158c7ed5b
Due: none

chore(eslint): remove legacy .eslintrc from web app (Flat Config only)
  .gitignore
  logs/audit-checklist.txt
  logs/audit-dependencias.txt
  logs/audit-estrutura.txt
  logs/audit-git-status.txt
  logs/audit-lint.txt
  logs/audit-tests.txt
  scripts/auto-clean-verify.ps1
  scripts/fix-workspace-prisma-and-verify.ps1
Due: none

chore(repo): limpeza de arquivos temporários e logs de desenvolvimento
  .gitignore
  .husky/pre-push
  CONTINUAR_AQUI.md
  PROGRESSO_ATUAL.md
  SESSAO_27JAN_FINALIZADA.md
  SESSAO_DESENVOLVIMENTO_28JAN.md
  apps/web/package.json
  logs/audit-checklist.txt
  logs/audit-dependencias.txt
  logs/audit-estrutura.txt
  logs/audit-git-status.txt
  logs/audit-lint.txt
  logs/audit-tests.txt
  package.json
  pnpm-lock.yaml
  scripts/auto-clean-verify.ps1
  scripts/fix-workspace-prisma-and-verify.ps1
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md}
  pnpm exec eslint --fix: (any of: apps/**/*.{ts,tsx}) or (any of: packages/**/*.{ts,tsx})
