Repository AdairBento/mag-system-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm exec eslint --fix

chore(eslint): finalize ESLint 9 Flat Config with Next.js support
  eslint.config.mjs
  pnpm-lock.yaml
Due: none

chore(eslint): unify ESLint 9 with Next.js via flat config
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(eslint): use next lint with static config for web app
  apps/web/.eslintrc.json
  apps/web/package.json
  eslint.config.mjs
Due: prettier --write

Notes added by 'git notes add'
  b4bcb261e81728a9ed602aae529fa36440418795
Due: none

feat(database)!: enterprise-grade Prisma 6 configuration
  package.json
  packages/database/package.json
  packages/database/prisma/seed/index.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm exec eslint --fix

feat(database): add enterprise config, migrations and templates
  .env.production.example
  .gitignore
  packages/database/prisma.config.ts
  packages/database/prisma/migrations/20260128142124_init_mag_system_v2/migration.sql
  packages/database/prisma/migrations/20260211040252_add_sessions_and_audit/migration.sql
  packages/database/prisma/migrations/20260212011139_v1_production_ready/migration.sql
  packages/database/prisma/migrations/20260212011402_add_partial_unique_indexes/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  scripts/prisma-validate.ps1
Due: pnpm exec eslint --fix

chore(repo): ignore local backup artifacts and stop tracking schema.prisma.backup
  .gitignore
  apps/api/src/modules/auth/__tests__/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/drivers/drivers.service.ts
  apps/api/src/modules/rentals/dto/create-rental.dto.ts
  apps/api/src/modules/rentals/rentals.service.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/schema.prisma.backup
Due: pnpm exec eslint --fix

chore: adicionar backups ao .gitignore (antipadrão versioná-los)
  .gitignore
  apps/api/.env.bak-20260214-153638
  apps/api/src/app.module.ts.backup.20260213_173504
  apps/api/src/app.module.ts.backup.20260214_074650
  apps/api/src/app.module.ts.backup.20260214_084252
  apps/api/src/main.ts.backup.20260214_084253
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx.bak.20260210-201334
  apps/web/src/app/(app)/clientes/page.tsx.bak.20260210-201334
  apps/web/src/app/(app)/clientes/page.tsx.bak.20260210-201449
  apps/web/src/app/(app)/clientes/page.tsx.bak.fix.20260210-201647
  apps/web/src/app/(app)/veiculos/page.tsx.bak-20260215-093241
  apps/web/src/app/(app)/veiculos/page.tsx.bak-types-20260215-094343
  packages/database/.env.bak-20260214-125032
  packages/database/prisma/schema.backup.20260214_173740.prisma
  packages/eslint-config/package.json.bak
  scripts/_backup_prebuild_20260214-183919/app.module.ts
  scripts/_backup_prebuild_20260214-183919/jwt.strategy.ts
  scripts/_backup_prebuild_20260214-183919/vehicles.service.ts
  scripts/_backup_tsconfig_20260214-210141/tsconfig.json
  scripts/_backup_tsconfig_20260214-210246/tsconfig.json
Due: prettier --write

chore: adicionar backups ao .gitignore e remover backups raiz
  .env.backup.20260214_074338
  .env.bak-20260214-125032
  .env.bak-senha-20260214-125247
  .gitignore
Due: none

refactor(types): centralizar Vehicle types em arquivo dedicado
  apps/web/src/types/vehicle.ts
Due: pnpm exec eslint --fix

refactor(types): atualizar page.tsx para usar types centralizados
  apps/web/src/app/(app)/veiculos/page.tsx
Due: pnpm exec eslint --fix

chore: atualizar script de instalação
  scripts/setup/install.sh
Due: none

fix(web): vehicles page stabilized (type-check)
  apps/web/src/app/(app)/veiculos/_components/vehicle-card.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
  apps/web/src/app/(app)/veiculos/page.tsx
  apps/web/src/types/vehicle.ts
Due: pnpm exec eslint --fix

feat(web): upgrade to Next.js 15 with ESLint 9 support
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(lint): stabilize tsconfig project lint + avoid web eslint crash in lint-staged
  .lintstagedrc.json
  apps/api/.eslintrc.json
  apps/api/package.json
  apps/web/eslint.config.mjs
  apps/web/next-env.d.ts
  apps/web/package.json.bak.20260215-200544
  apps/web/src/app/(app)/veiculos/_components/vehicle-card.tsx.bak.20260215-185636
  apps/web/src/app/(app)/veiculos/_components/vehicle-card.tsx.bak.20260215-185803
  apps/web/src/app/(app)/veiculos/_components/vehicle-card.tsx.bak.20260215-185809
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.bak.20260215-185636
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.bak.20260215-185803
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.bak.20260215-185809
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-185636
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-185803
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-185809
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-190319
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-190406
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-190448
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-190523
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-190622
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-191315
  apps/web/src/app/(app)/veiculos/page.tsx.bak.20260215-191437
  apps/web/src/types/vehicle.ts.bak.20260215-185636
  apps/web/src/types/vehicle.ts.old
  apps/web/tsconfig.json
  eslint.config.mjs
  package.json
  packages/core/.eslintrc.json
  packages/core/package.json
  packages/core/tsconfig.eslint.json
  packages/database/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, pnpm exec eslint --fix

fix(api): remove unused variables and imports
  apps/api/src/modules/auth/services/progressive-lock.service.ts
  apps/api/src/modules/auth/services/refresh-token.service.ts
Due: pnpm exec eslint --fix

fix(hooks): stabilize lint (next lint) and prevent lint-staged arg injection
  .lintstagedrc.json
  apps/api/.eslintrc.json
  apps/api/src/modules/auth/services/progressive-lock.service.ts
  apps/api/src/modules/auth/services/refresh-token.service.ts
  apps/web/package.json
Due: prettier --write, pnpm exec eslint --fix

fix(web): stop next lint from targeting nonexistent ./lint directory
  _fix-bak-20260215-234237/apps_web_package.json
  _fix-bak-20260215-234237/package.json
Due: prettier --write

fix(web): run Next lint via node bin to avoid Windows shim arg injection
  apps/web/package.json.bak.20260215-234606
Due: none

wip: fixing next lint
  apps/web/package.json
  apps/web/package.json.bak.20260215-234606
Due: prettier --write

fix(lint): replace next lint with ESLint 9 flat config for Next.js 16 compatibility
  apps/api/.eslintrc.json
  apps/api/package.json
  apps/web/eslint.config.mjs
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/components/ui/sidebar.tsx
  packages/core/package.json
  packages/database/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, pnpm exec eslint --fix

fix(lint): remove legacy eslintrc, ESLint 9 working
  .claude/settings.local.json
  _audit-next-lint.txt
  apps/web/.eslintrc.json
  apps/web/_audit-next-lint.txt
  scripts/clean.mjs
  scripts/patch-zero-warning.ps1
Due: prettier --write

fix(api): remove unused imports in excel module
  apps/api/src/modules/excel/dto/generate-excel.dto.ts
  apps/api/src/modules/excel/excel.service.ts
Due: pnpm exec eslint --fix

fix(docker): upgrade Node 20→22 and pnpm 8→10 in both Dockerfiles
  apps/api/Dockerfile
  apps/api/Dockerfile.migrator
Due: none

feat(api): implement seguros module with full CRUD, DTOs and tests
  apps/api/src/modules/seguros/__tests__/seguros.controller.spec.ts
  apps/api/src/modules/seguros/__tests__/seguros.service.spec.ts
  apps/api/src/modules/seguros/dto/create-seguro.dto.ts
  apps/api/src/modules/seguros/dto/filter-seguro.dto.ts
  apps/api/src/modules/seguros/dto/update-seguro.dto.ts
  apps/api/src/modules/seguros/seguros.controller.ts
  apps/api/src/modules/seguros/seguros.module.ts
  apps/api/src/modules/seguros/seguros.service.ts
Due: pnpm exec eslint --fix

feat(web): connect 8 modules to API with real data-fetching pages
  apps/web/src/app/(app)/configuracoes/page.tsx
  apps/web/src/app/(app)/contratos/page.tsx
  apps/web/src/app/(app)/financeiro/page.tsx
  apps/web/src/app/(app)/manutencao/page.tsx
  apps/web/src/app/(app)/multas/page.tsx
  apps/web/src/app/(app)/relatorios/page.tsx
  apps/web/src/app/(app)/seguros/page.tsx
  apps/web/src/app/(app)/sinistros/page.tsx
  apps/web/src/lib/api/contratos.ts
  apps/web/src/lib/api/financeiro.ts
  apps/web/src/lib/api/manutencao.ts
  apps/web/src/lib/api/multas.ts
  apps/web/src/lib/api/reports.ts
  apps/web/src/lib/api/seguros.ts
  apps/web/src/lib/api/settings.ts
  apps/web/src/lib/api/sinistros.ts
  apps/web/src/lib/hooks/use-contratos.ts
  apps/web/src/lib/hooks/use-financeiro.ts
  apps/web/src/lib/hooks/use-manutencao.ts
  apps/web/src/lib/hooks/use-multas.ts
  apps/web/src/lib/hooks/use-reports.ts
  apps/web/src/lib/hooks/use-seguros.ts
  apps/web/src/lib/hooks/use-settings.ts
  apps/web/src/lib/hooks/use-sinistros.ts
  apps/web/src/types/contrato.ts
  apps/web/src/types/financeiro.ts
  apps/web/src/types/manutencao.ts
  apps/web/src/types/multa.ts
  apps/web/src/types/report.ts
  apps/web/src/types/seguro.ts
  apps/web/src/types/setting.ts
  apps/web/src/types/sinistro.ts
Due: pnpm exec eslint --fix

feat(api): add e2e test suite with Supertest for main modules
  apps/api/src/modules/clients/clients.service.ts
  apps/api/src/modules/rentals/rentals.service.ts
  apps/api/test/e2e/clients.e2e-spec.ts
  apps/api/test/e2e/health.e2e-spec.ts
  apps/api/test/e2e/notifications.e2e-spec.ts
  apps/api/test/e2e/rentals.e2e-spec.ts
  apps/api/test/e2e/vehicles.e2e-spec.ts
  apps/api/test/helpers/app.helper.ts
  apps/api/test/jest-e2e.json
Due: prettier --write, pnpm exec eslint --fix

fix(api): add tsconfig.e2e.json so ESLint can parse test/ files
  apps/api/.eslintrc.json
  apps/api/tsconfig.e2e.json
Due: prettier --write

feat(api): add e2e tests for 9 remaining modules (76 new tests)
  apps/api/test/e2e/contracts.e2e-spec.ts
  apps/api/test/e2e/financeiro.e2e-spec.ts
  apps/api/test/e2e/maintenance.e2e-spec.ts
  apps/api/test/e2e/multas.e2e-spec.ts
  apps/api/test/e2e/reports.e2e-spec.ts
  apps/api/test/e2e/seguros.e2e-spec.ts
  apps/api/test/e2e/settings.e2e-spec.ts
  apps/api/test/e2e/sinistros.e2e-spec.ts
  apps/api/test/e2e/vistorias.e2e-spec.ts
Due: pnpm exec eslint --fix

feat(web): implement vistorias frontend page with damages and photos tabs
  apps/web/next-env.d.ts
  apps/web/src/app/(app)/vistorias/page.tsx
  apps/web/src/lib/api/vistorias.ts
  apps/web/src/lib/hooks/use-vistorias.ts
  apps/web/src/types/vistoria.ts
Due: pnpm exec eslint --fix

feat(financeiro): add date filters, full transaction CRUD, and 3-tab page
  apps/api/src/modules/financeiro/dto/filter-invoice.dto.ts
  apps/api/src/modules/financeiro/dto/filter-transaction.dto.ts
  apps/api/src/modules/financeiro/financeiro.service.ts
  apps/web/src/app/(app)/financeiro/page.tsx
  apps/web/src/lib/api/financeiro.ts
  apps/web/src/lib/hooks/use-financeiro.ts
  apps/web/src/types/financeiro.ts
Due: pnpm exec eslint --fix

feat(contratos,manutencao,multas): add date-range filters across full stack
  apps/api/src/modules/contracts/contracts.service.ts
  apps/api/src/modules/contracts/dto/filter-contract.dto.ts
  apps/api/src/modules/maintenance/dto/filter-maintenance.dto.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/multas/dto/filter-multa.dto.ts
  apps/api/src/modules/multas/multas.service.ts
  apps/web/src/app/(app)/contratos/page.tsx
  apps/web/src/app/(app)/manutencao/page.tsx
  apps/web/src/app/(app)/multas/page.tsx
  apps/web/src/lib/api/contratos.ts
  apps/web/src/lib/api/manutencao.ts
  apps/web/src/lib/api/multas.ts
  apps/web/src/lib/hooks/use-contratos.ts
  apps/web/src/lib/hooks/use-multas.ts
Due: pnpm exec eslint --fix

feat(sinistros,seguros): add date-range filters and fix AccidentStatus enum
  apps/api/src/modules/seguros/dto/filter-seguro.dto.ts
  apps/api/src/modules/seguros/seguros.service.ts
  apps/api/src/modules/sinistros/dto/filter-sinistro.dto.ts
  apps/api/src/modules/sinistros/sinistros.service.ts
  apps/web/src/app/(app)/seguros/page.tsx
  apps/web/src/app/(app)/sinistros/page.tsx
  apps/web/src/lib/api/seguros.ts
  apps/web/src/lib/api/sinistros.ts
  apps/web/src/lib/hooks/use-seguros.ts
  apps/web/src/lib/hooks/use-sinistros.ts
  apps/web/src/types/sinistro.ts
Due: pnpm exec eslint --fix

feat(web): implement relatorios page with tabs and date filters
  apps/web/src/app/(app)/relatorios/page.tsx
  apps/web/src/types/report.ts
Due: pnpm exec eslint --fix

feat(web): add pagination to configuracoes page and settings API
  apps/web/src/app/(app)/configuracoes/page.tsx
  apps/web/src/lib/api/settings.ts
  apps/web/src/lib/hooks/use-settings.ts
Due: pnpm exec eslint --fix

feat(web): implement notifications and queue modules; fix sidebar nav
  apps/web/src/app/(app)/fila/page.tsx
  apps/web/src/app/(app)/navigation.ts
  apps/web/src/app/(app)/notificacoes/page.tsx
  apps/web/src/lib/api/fila.ts
  apps/web/src/lib/api/notificacoes.ts
  apps/web/src/lib/hooks/use-fila.ts
  apps/web/src/lib/hooks/use-notificacoes.ts
  apps/web/src/types/fila.ts
  apps/web/src/types/notificacao.ts
Due: pnpm exec eslint --fix

fix(auth): implement full authentication flow — backend + frontend
  apps/api/src/modules/auth/auth.controller.ts
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/lib/api/http.ts
  apps/web/src/middleware.ts
Due: pnpm exec eslint --fix

feat(web): implement missing pages and fix core issues
  apps/api/src/modules/rentals/rentals.service.ts
  apps/web/src/app/(app)/comunicacao/page.tsx
  apps/web/src/app/(app)/locacoes/page.tsx
  apps/web/src/app/(app)/motoristas/page.tsx
  apps/web/src/app/(app)/navigation.ts
  apps/web/src/app/(app)/page.tsx
  apps/web/src/lib/api/locacoes.ts
  apps/web/src/lib/api/motoristas.ts
  apps/web/src/lib/hooks/use-locacoes.ts
  apps/web/src/lib/hooks/use-motoristas.ts
  apps/web/src/types/locacao.ts
  apps/web/src/types/motorista.ts
  apps/web/src/types/vehicle.ts.old
Due: pnpm exec eslint --fix

Path conditions:
  prettier --write: any of: *.{json,md}
  pnpm exec eslint --fix: (any of: apps/**/*.{ts,tsx}) or (any of: packages/**/*.{ts,tsx})
